#main {
	display: flex;
	border-radius: 10px;
	background-color: lightskyblue;
	justify-content: center;
	align-items: evenly-spaced;
	padding: 5px;
}

.jstl-form {
	padding: 5px;
	width: 400px;
}

.red-letters {
	color: red;
}